body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
.droit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh; 
}

:root {
  --couleur-fond: #222222;
  --couleur-texte: #ffffff;
  --couleur-lien: #999999;
}

body.dark-mode {
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
}

a {
  color: var(--couleur-lien);
}

.header {
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}