<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="UTF-8">
    <title>Veibanedy - Accueil</title>
    <link href="../static/css/main.css" rel="stylesheet"/>
    <script src="../static/js/script.js"></script>
</head>
<body>
  <button class="button" onclick="toggleDarkMode()" >Mode Sombre/Clair</button>
  <a href="/A-propos">À propos de nous</a>
  <a href="/Contact">Contactez-nous</a>
  <a href="/Connexion">Se connecter</a>

  <div class="container">
    <h1>Bienvenue chez Veibanedy</h1>
    <p>Découvrez notre sélection de produits artisanaux faits avec amour.</p>
    <button class="button">Explorer les produits</button>
  </div>

  <div class="droit">
    <p class="auteur">VEIBANEDY &copy; 2023 Tous droits réservés.</p>
    <p> Projet NSI Erwan, Lorenzo, Yanick </p>
  </div>
</body>
</html>
