<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="UTF-8">
    <title>Veibanedy</title>
    <link href="../static/css/main.css" rel="stylesheet"/>
    <script src="../static/js/script.js"></script>
</head>
<body>
  <button class="button" onclick="toggleDarkMode()" >Mode Sombre/Clair</button>
  <a href="{{ url_for('connexion') }}">connexion</a>

  
  <div class="droit">
   <p class="auteur">VEIBANEDY &copy; 2023 Tous droits réservés.</p>
   <p> Projet NSI Erwan, Lorenzo, Yanick </p>
</body>
</html>
