<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>À propos de nous</title>
    <link rel="stylesheet" href="../static/css/à-propos.css">
    <script src="script.js"></script>
  </head>
  <body>
    <header>
      <h1>À propos de nous</h1>
    </header>
    <main>
      <section>
        <h2>Notre histoire</h2>
        <p>Lorenzo qui dessine une pièce de 2 centimes c honteux vraiment</p>
      </section>
      <section>
        <h2>Nos valeurs</h2>
        <ul>
          <li>Intégrité</li>
          <li>Transparence</li>
          <li>Excellence</li>
        </ul>
      </section>
      <section>
        <h2>Notre équipe</h2>
        <ul>
          <div class="container">
            <li id="texte">Erwan LUCE-GUEDON - Directeur général</li>
            <img id="image" src="../static/image/BDN.png" alt="Image">
            <li>Lorenzo RIBEIRO - Responsable dessin</li>
            <li>Yanick SUN - Responsable Base de données</li>
          </div>
        </ul>
      </section>
    </main>
    <a href="/">Revenir à la page d'accueil</a>
    <footer>
      <p>VEIBANEDY &copy; 2023 Tous droits réservés.</p>
      <p> Projet NSI Erwan, Lorenzo, Yanick </p>
    </footer>
  </body>
</html>
