<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>À propos de nous</title>
    <link rel="stylesheet" href="../static/css/à-propos.css">
  </head>
  <body>
    <header>
      <h1>À propos de nous</h1>
    </header>
    <main>
      <section>
        <h2>Notre histoire</h2>
        <p>iiii</p>
      </section>
      <section>
        <h2>Nos valeurs</h2>
        <ul>
          <li>Intégrité</li>
          <li>Transparence</li>
          <li>Excellence</li>
        </ul>
      </section>
      <section>
        <h2>Notre équipe</h2>
        <ul>
          <li>Erwan Luce-Guedon - Directeur général</li>
          <li>Lorenzo - Responsable marketing</li>
          <li>Yanick Sun - Responsable technique</li>
        </ul>
      </section>
    </main>
    <footer>
      <p>VEIBANEDY &copy; 2023 Tous droits réservés.</p>
      <p> Projet NSI Erwan, Lorenzo, Yanick </p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
